
<!-- Common Menu for all user start here -->

<li>
    <a href="/common/geteloc">
        <i class="material-icons">swap_calls</i>
        <span>Get eLoc</span>
    </a>
</li>
<li>
    <a href="/common/eloclog">
        <i class="material-icons">storage</i>
        <span>eLoc Log</span>
    </a>
</li>
<li>
    <a href="/common/generateQR">
        <i class="material-icons">open_with</i>
        <span>QR Code</span>
    </a>
</li>
<li>
    <a href="/common/generateCard">
        <i class="material-icons">chrome_reader_mode</i>
        <span>Address Card</span>
    </a>
</li>
<li>
    <a href="/common/searcheloc">
        <i class="material-icons">search</i>
        <span>Search eLoc</span>
    </a>
</li>
<li>
    <a href="/common/addplaces">
        <i class="material-icons">place</i>
        <span>Add Places</span>
    </a>
</li>
<li>
    <a href="/common/nearby">
        <i class="material-icons">near_me</i>
        <span>Nearby Places</span>
    </a>
</li>
<li>
    <a href="/common/directions">
        <i class="material-icons">directions</i>
        <span>Directions</span>
    </a>
</li>
<li>
    <a href="/common/locationhistory">
        <i class="material-icons">history</i>
        <span>Location History</span>
    </a>
</li>
<!-- Common Menu for all user end here -->