    <!-- Jquery Core Js -->
    <script src="../../static/dassets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../static/dassets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->


    <!-- Slimscroll Plugin Js -->
    <script src="../../static/dassets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../static/dassets/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="../../static/dassets/js/admin.js"></script>
    <script src="../../static/dassets/js/pages/index.js"></script>
    <script src="../../static/dassets/js/pages/ui/modals.js"></script>

    <!-- Demo Js -->
    <script src="../../static/dassets/js/demo.js"></script>
    <script src="../../static/dassets/js/pages/ui/tooltips-popovers.js"></script>

        <!-- Jquery DataTable Plugin Js -->
        <script src="../../static/dassets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

        <!-- Custom Js -->
        <script src="../../static/dassets/js/pages/tables/jquery-datatable.js"></script>
    
    


    
