<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>API Key | eLoc</title>
    {% include 'includes/_header.html' %}
        <!-- JQuery DataTable Css -->
        <link href="../static/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
</head>

<body class="theme-red">
    {% include 'includes/_loader.html' %} 
    {% include 'includes/_partynavbar.html' %} 
    {% include 'includes/_partymenu.html' %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <strong>API Management</strong>
            </div>
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <a href="/party/apikey" ><button type="button" class="btn bg-light-green waves-effect" data-toggle="modal" data-target="#largeModal">
                                <i class="material-icons">vpn_key</i>
                                <span>
                                    <b>GET A KEY</b>
                                </span>
                            </button></a>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Creation Date</th>
                                            <th>API Key</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% block body %}
                                        {% for apikey in apidata %}
                                        <tr>
                                            <td>{{apikey.project_name}}</td>
                                            <td>{{apikey.creation_date}}</td>
                                            <td>{{apikey.api_key}}</td>
                                            <td>{{apikey.status}}</td>
                                            <td>
                                                <a href="edit_apikey/{{apikey.id}}"><button type="button" class="btn btn-success waves-effect">Edit</button></a>
                                                <a href="delete_apikey/{{apikey.id}}"><button type="button" class="btn btn-danger waves-effect">Delete</button></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endblock %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
        <!-- container fluid ends here -->
    </section>
    <!-- section ends here -->
    <!-- Jquery DataTable Plugin Js -->
    <script src="../static/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../static/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../static/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="../static/js/pages/tables/jquery-datatable.js"></script>

    <!-- Demo Js -->
    <script src="../static/js/demo.js"></script>
    {% include 'includes/_footer.html' %}

</body>

</html>